body {
	font-family: Times New Roman;
	margin: 0;
}
.header {
	height: 200px;
	background: #2b3942;
	text-align: center;
	color: #ffffff;
	padding-top: 90px;
	text-transform: uppercase;
	margin: 0 auto;
	font-size: 45px;
}
h2 {
	padding: top 5px;
	text-align: center;
	color: #ffffff;
	font-size: 40px;
	margin: 0;
	background: #2c3e50;
}
p {
	height: 500px;
	background: #2c3e50;
	text-align: center;
	color: #ffffff;
	padding-top: 20px;
	margin: 0 auto;
	overflow: auto;
	font-size: 40px;
}

.hero {
	background: #2b3744;
	height: 200px;
	background-size: cover;
	padding-top: 10;
}
.footer {
	height: 10px;
	width: auto;
	background: #2c3e50;
	text-align: center;
	color: #ffffff;
	padding-top: 5px;
	text-transform: uppercase;
	font-family: Times New Roman;
}
